extends layout
block content
  h1 Edit Policy
  .well.span8
    form(action='/policy', method='post')
      textarea(name='policy') #{policy}
      input.btn(type='submit')
    a(href="https://github.com/evilpacket/helmet#content-security-policy") Helmet Documentation
